body{
    background-image:url("https://m.media-amazon.com/images/I/51GFAFBI7RL._AC_UF1000,1000_QL80_.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;

}

#contener{
    border: 2px solid black;
    width: 450px;
    height: 500px;
    border-radius: 30px;
    background-color: #a8a0a07d;
    border: none;
    margin-top: 40px;
    box-shadow: inset 10px 5px 10px 10px rgba(0, 0, 0, 0.3);

}

#doom{
    font-size: 20px;
    font-style: italic;
    color: rgb(16, 65, 225);
}

p{
    font-size: 18px;
}

input{
    height: 25px;
    border-radius: 20px;
    border: none;
    padding: 0 0 0 9px;
}

button{
    height: 29px;
    border-radius: 20px;
    border: none;
    padding: 0 10px 0 10px;
}
